<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>JRCrypt</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style>
	body {
		background-color: #ECECEC;
		padding: 40px;
	}
	.title {
		margin: 20px 0;
	}
	small.positive {
		font-size: 24px;
		color: 	green;
	}
	small.negative {
		font-size: 24px;
		color: red;
	}
	.header {
		padding-bottom: 10px;
		border-bottom: 1px dashed #bfbfbf;
	}
	.price {
		margin: 32px 0;
	}
</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h3 class="display-4 title text-center header">JRCrypt</h3>
				<pre class="text-muted text-center">
					<strong>URL Params:</strong> <%= PATH %>/?BTC=<%= BITCOIN.total_coins_raw %>&ADA=<%= CARDANO.total_coins_raw %>&AUD=<%= AUD.total_coins_raw %> 
				</pre>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<table class="table table-bordered table-dark">
					<thead>
						<tr>
							<th scope="col">Coin</th>
							<th scope="col">Price Source</th>
							<th scope="col"># of Coins</th>
							<th scope="col">Market Price (AUD)</th>
							<th scope="col">Current Value (AUD)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Bitcoin</strong></td>
							<td>BTCMarkets</td>
							<td><%= BITCOIN.total_coins %> <small>BTC</small></td>
							<td><%= BITCOIN.market_price_aud %><small>/BTC</small></td>
							<td><%= BITCOIN.current_value %></td>
						</tr>
						<tr>
							<td><strong>Cardano</strong></td>
							<td>Binance</td>
							<td><%= CARDANO.total_coins %> <small>ADA</small></td>
							<td>
								<div><%= CARDANO.market_price_aud_via_btc %><small>/ADA (via BTC)</small></div>
								<div><%= CARDANO.market_price_aud_via_eth %><small>/ADA (via ETH)</small></div>
							</td>
							<td><%= CARDANO.current_value %> <small><%= CARDANO.current_value_via %></small></td>
						</tr>
					</tbody>
				</table>
				<h3 class="display-4 title price text-center">
					<%= TOTAL_PORTFOLIO_VALUE %>
					<small class="<%= PORTFOLIO_DIFF.class %>">(<%= PORTFOLIO_DIFF.value %>%)</small>
				</h3>
				<hr/>
				<h5 class="display-5 title text-center">Conversions do not account for transaction fees.</h5>
				<p class="text-center"><small class="text-muted"><strong>Updated:</strong> <%= DATA_RETRIEVED %></small></p>
			</div>
		</div>
	</div>
</body>
</html>