<div class="row">
	<div class="col col-md-4">
		<canvas id="portfolioChart" width="80" height="80"></canvas>
	</div>
	<div class="col col-md-8">
		<div class="text-right">
			<p class="lead">
				You invested:
			</p>
			<h3 class="display-4 title">
				<%= AUD.value %>
			</h3>
			<hr>
			<p class="lead">
				You're now <em>hodling</em>:
			</p>
			<h3 class="display-4 title">
				<%= TOTAL_PORTFOLIO_VALUE.value %>
				<small class="<%= PORTFOLIO_DIFF.class %>">(<%= PORTFOLIO_DIFF.value %>%)</small>
			</h3>
		</div>
	</div>
</div>

<script>
	var ctx = document.getElementById("portfolioChart");
	new Chart(ctx,{
		type: 'pie',
		options: {
			legend: {
				display: false,
			},
			tooltips: {
				callbacks: {
					label: (tooltipItem, { datasets, labels }) => { 
						return ` ${labels[tooltipItem.index]}: ${(parseFloat(datasets[0].data[tooltipItem.index]) * 100).toFixed(2)}%`
					},
				},
			},
			pieceLabel: {
				fontColor: '#fff',
				overlap: true,
				render: (data) => `${data.label}`,
			},
		},
		data: {
			datasets: [{
				data: <%- JSON.stringify(PIE_CHART.data); %>,
				backgroundColor:  <%- JSON.stringify(PIE_CHART.colors); %>,
			}],
			labels: <%- JSON.stringify(PIE_CHART.labels); %>,
		}
	});
</script>