<div class="row">
	<div class="col-sm">
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Coin</th>
					<th scope="col">Ticker</th>
					<th scope="col">Price Source</th>
					<th scope="col"># of Coins</th>
					<th scope="col">Market Price (AUD)</th>
					<th scope="col">Current Value (AUD)</th>
				</tr>
			</thead>
			<tbody>
				<%if (BITCOIN.total_coins_raw > 0) { %>
				<tr>
					<td><strong>Bitcoin</strong></td>
					<td>BTC</td>
					<td>BTCMarkets</td>
					<td><%= BITCOIN.total_coins %> <small>BTC</small></td>
					<td><%= BITCOIN.market_price_aud %><small>/BTC</small></td>
					<td><%= BITCOIN.current_value %></td>
				</tr>
				<% } %>
				<%if (ETHEREUM.total_coins_raw > 0) { %>
				<tr>
					<td><strong>Ethereum</strong></td>
					<td>ETH</td>
					<td>BTCMarkets</td>
					<td><%= ETHEREUM.total_coins %> <small>ETH</small></td>
					<td><%= ETHEREUM.market_price_aud %><small>/ETH</small></td>
					<td><%= ETHEREUM.current_value %></td>
				</tr>
				<% } %>
				<%if (RIPPLE.total_coins_raw > 0) { %>
				<tr>
					<td><strong>Ripple</strong></td>
					<td>XRP</td>
					<td>BTCMarkets</td>
					<td><%= RIPPLE.total_coins %> <small>XRP</small></td>
					<td><%= RIPPLE.market_price_aud %><small>/XRP</small></td>
					<td><%= RIPPLE.current_value %></td>
				</tr>
				<% } %>
				<%if (BITCOIN_CASH.total_coins_raw > 0) { %>
				<tr>
					<td><strong>Bitcoin Cash</strong></td>
					<td>BCH</td>
					<td>BTCMarkets</td>
					<td><%= BITCOIN_CASH.total_coins %> <small>BCH</small></td>
					<td><%= BITCOIN_CASH.market_price_aud %><small>/BCH</small></td>
					<td><%= BITCOIN_CASH.current_value %></td>
				</tr>
				<% } %>
				<%if (LITECOIN.total_coins_raw > 0) { %>
				<tr>
					<td><strong>Litecoin</strong></td>
					<td>LTC</td>
					<td>BTCMarkets</td>
					<td><%= LITECOIN.total_coins %> <small>LTC</small></td>
					<td><%= LITECOIN.market_price_aud %><small>/LTC</small></td>
					<td><%= LITECOIN.current_value %></td>
				</tr>
				<% } %>
				<%if (RAIBLOCK.total_coins_raw > 0) { %>
				<tr>
					<td><strong>RaiBlock</strong></td>
					<td>XRB</td>
					<td>BitGrail</td>
					<td><%= RAIBLOCK.total_coins %> <small>XRB</small></td>
					<td>
						<div><%= RAIBLOCK.market_price_aud_via_btc %><small>/XRB (via BTC)</small></div>
						<div><%= RAIBLOCK.market_price_aud_via_eth %><small>/XRB (via ETH)</small></div>
					</td>
					<td><%= RAIBLOCK.current_value %> <small><%= RAIBLOCK.current_value_via %></small></td>
				</tr>
				<% } %>
				<%if (CARDANO.total_coins_raw > 0) { %>
				<tr>
					<td><strong>Cardano</strong></td>
					<td>ADA</td>
					<td>Binance</td>
					<td><%= CARDANO.total_coins %> <small>ADA</small></td>
					<td>
						<div><%= CARDANO.market_price_aud_via_btc %><small>/ADA (via BTC)</small></div>
						<div><%= CARDANO.market_price_aud_via_eth %><small>/ADA (via ETH)</small></div>
					</td>
					<td><%= CARDANO.current_value %> <small><%= CARDANO.current_value_via %></small></td>
				</tr>
				<% } %>
				<%if (REQUEST_NETWORK.total_coins_raw > 0) { %>
				<tr>
					<td><strong>Request Network</strong></td>
					<td>REQ</td>
					<td>Binance</td>
					<td><%= REQUEST_NETWORK.total_coins %> <small>REQ</small></td>
					<td>
						<div><%= REQUEST_NETWORK.market_price_aud_via_btc %><small>/REQ (via BTC)</small></div>
						<div><%= REQUEST_NETWORK.market_price_aud_via_eth %><small>/REQ (via ETH)</small></div>
					</td>
					<td><%= REQUEST_NETWORK.current_value %> <small><%= REQUEST_NETWORK.current_value_via %></small></td>
				</tr>
				<% } %>
				<%if (IOTA.total_coins_raw > 0) { %>
				<tr>
					<td><strong>IOTA</strong></td>
					<td>IOTA</td>
					<td>Binance</td>
					<td><%= IOTA.total_coins %> <small>IOTA</small></td>
					<td>
						<div><%= IOTA.market_price_aud_via_btc %><small>/IOTA (via BTC)</small></div>
						<div><%= IOTA.market_price_aud_via_eth %><small>/IOTA (via ETH)</small></div>
					</td>
					<td><%= IOTA.current_value %> <small><%= IOTA.current_value_via %></small></td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<div class="text-center">
			<small class="title text-muted">Conversions do not account for transaction fees.</small>
		</div>
	</div>
</div>