<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container">
		<% include ../partials/header %>
		<div class="row">
			<div class="col col-md-4">
				<canvas id="portfolioChart" width="80" height="80"></canvas>
			</div>
			<div class="col col-md-8">
				<div class="text-right">
					<p class="title">
						You started with...
					</p>
					<h3 class="display-4 title">
						<%= AUD.value %>
					</h3>
					<p class="title">
						Now you're hodling...
					</p>
					<h3 class="display-4 title">
						<%= TOTAL_PORTFOLIO_VALUE.value %>
						<small class="<%= PORTFOLIO_DIFF.class %>">(<%= PORTFOLIO_DIFF.value %>%)</small>
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Coin</th>
							<th scope="col">Ticker</th>
							<th scope="col">Price Source</th>
							<th scope="col"># of Coins</th>
							<th scope="col">Market Price (AUD)</th>
							<th scope="col">Current Value (AUD)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Bitcoin</strong></td>
							<td>BTC</td>
							<td>BTCMarkets</td>
							<td><%= BITCOIN.total_coins %> <small>BTC</small></td>
							<td><%= BITCOIN.market_price_aud %><small>/BTC</small></td>
							<td><%= BITCOIN.current_value %></td>
						</tr>
						<tr>
							<td><strong>Ethereum</strong></td>
							<td>ETH</td>
							<td>BTCMarkets</td>
							<td><%= ETHEREUM.total_coins %> <small>ETH</small></td>
							<td><%= ETHEREUM.market_price_aud %><small>/ETH</small></td>
							<td><%= ETHEREUM.current_value %></td>
						</tr>
						<%if (RIPPLE.total_coins_raw > 0) { %>
						<tr>
							<td><strong>Ripple</strong></td>
							<td>XRP</td>
							<td>BTCMarkets</td>
							<td><%= RIPPLE.total_coins %> <small>XRP</small></td>
							<td><%= RIPPLE.market_price_aud %><small>/XRP</small></td>
							<td><%= RIPPLE.current_value %></td>
						</tr>
						<% } %>
						<%if (RAIBLOCK.total_coins_raw > 0) { %>
						<tr>
							<td><strong>RaiBlock</strong></td>
							<td>XRB</td>
							<td>BitGrail</td>
							<td><%= RAIBLOCK.total_coins %> <small>XRB</small></td>
							<td>
								<div><%= RAIBLOCK.market_price_aud_via_btc %><small>/XRB (via BTC)</small></div>
								<div><%= RAIBLOCK.market_price_aud_via_eth %><small>/XRB (via ETH)</small></div>
							</td>
							<td><%= RAIBLOCK.current_value %> <small><%= RAIBLOCK.current_value_via %></small></td>
						</tr>
						<% } %>
						<%if (CARDANO.total_coins_raw > 0) { %>
						<tr>
							<td><strong>Cardano</strong></td>
							<td>ADA</td>
							<td>Binance</td>
							<td><%= CARDANO.total_coins %> <small>ADA</small></td>
							<td>
								<div><%= CARDANO.market_price_aud_via_btc %><small>/ADA (via BTC)</small></div>
								<div><%= CARDANO.market_price_aud_via_eth %><small>/ADA (via ETH)</small></div>
							</td>
							<td><%= CARDANO.current_value %> <small><%= CARDANO.current_value_via %></small></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<hr/>
				<h5 class="display-5 title text-center">Conversions do not account for transaction fees.</h5>
				<p class="text-center"><small class="text-muted"><strong>Updated:</strong> <%= DATA_RETRIEVED %></small></p>
			</div>
		</div>
	</div>
	<script>
		var ctx = document.getElementById("portfolioChart");
		new Chart(ctx,{
			type: 'pie',
			options: {
				legend: {
					display: false,
				},
				tooltip: {
					enabled: false,
				},
				pieceLabel: {
					fontColor: '#fff',
					overlap: true,
					render: (data) => `${data.label} ${data.percentage}%`,
				},
			},
			data: {
				datasets: [{
					data: <%- JSON.stringify(PIE_CHART.data); %>,
					backgroundColor:  <%- JSON.stringify(PIE_CHART.colors); %>,
				}],
				labels: <%- JSON.stringify(PIE_CHART.labels); %>,
			}
		});
	</script>
</body>
</html>