<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container">
		<% include ../partials/header %>
		<div class="row">
			<div class="col-sm text-center">
				<pre class="text-muted">
					<%= PATH %>/?BTC=<%= BITCOIN.total_coins_raw %>&ADA=<%= CARDANO.total_coins_raw %>&AUD=<%= AUD.total_coins_raw %> 
				</pre>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<table class="table table-bordered table-dark">
					<thead>
						<tr>
							<th scope="col">Coin</th>
							<th scope="col">Price Source</th>
							<th scope="col"># of Coins</th>
							<th scope="col">Market Price (AUD)</th>
							<th scope="col">Current Value (AUD)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Bitcoin</strong></td>
							<td>BTCMarkets</td>
							<td><%= BITCOIN.total_coins %> <small>BTC</small></td>
							<td><%= BITCOIN.market_price_aud %><small>/BTC</small></td>
							<td><%= BITCOIN.current_value %></td>
						</tr>
						<tr>
							<td><strong>Ethereum</strong></td>
							<td>BTCMarkets</td>
							<td><%= ETHEREUM.total_coins %> <small>ETH</small></td>
							<td><%= ETHEREUM.market_price_aud %><small>/ETH</small></td>
							<td><%= ETHEREUM.current_value %></td>
						</tr>
						<tr>
							<td><strong>RaiBlock</strong></td>
							<td>BitGrail</td>
							<td><%= RAIBLOCK.total_coins %> <small>XRB</small></td>
							<td>
								<div><%= RAIBLOCK.market_price_aud_via_btc %><small>/XRB (via BTC)</small></div>
								<div><%= RAIBLOCK.market_price_aud_via_eth %><small>/XRB (via ETH)</small></div>
							</td>
							<td><%= RAIBLOCK.current_value %> <small><%= RAIBLOCK.current_value_via %></small></td>
						</tr>
						<tr>
							<td><strong>Cardano</strong></td>
							<td>Binance</td>
							<td><%= CARDANO.total_coins %> <small>ADA</small></td>
							<td>
								<div><%= CARDANO.market_price_aud_via_btc %><small>/ADA (via BTC)</small></div>
								<div><%= CARDANO.market_price_aud_via_eth %><small>/ADA (via ETH)</small></div>
							</td>
							<td><%= CARDANO.current_value %> <small><%= CARDANO.current_value_via %></small></td>
						</tr>
					</tbody>
				</table>
				<h3 class="display-4 title price text-center">
					<%= TOTAL_PORTFOLIO_VALUE %>
					<small class="<%= PORTFOLIO_DIFF.class %>">(<%= PORTFOLIO_DIFF.value %>%)</small>
				</h3>
				<hr/>
				<h5 class="display-5 title text-center">Conversions do not account for transaction fees.</h5>
				<p class="text-center"><small class="text-muted"><strong>Updated:</strong> <%= DATA_RETRIEVED %></small></p>
			</div>
		</div>
	</div>
</body>
</html>